<div class="w-[100px] border border-gray-300 h-screen fixed top-[100px] bg-white border-t-0 shadow-lg flex flex-col justify-between items-center">
  <div class="flex flex-col gap-10 pt-3">
    <div class="flex flex-col justify-center items-center gap-3 hover:bg-gray-400 hover:text-white p-3 rounded-md text-gray-700">
      <fa-icon [icon]="listLevel" size='lg'/>
      <span class="font-light text-[13px]">Levels</span>
    </div>
    <div class="flex flex-col justify-center items-center gap-3 hover:bg-gray-400 hover:text-white p-3 rounded-md text-gray-700">
      <fa-icon [icon]="listSubject" size="lg"/>
      <span class="font-light text-[13px]">Subject</span>
    </div>
  </div>
</div>
