<div class="z-30 px-4 h-[100px] w-screen border border-gray-300 fixed top-0 bg-white shadow-sm flex justify-between items-center">
  <span class="logo text-[25px] text-[#45178E]">YouQuiz</span>
  <a class="rounded-md font-bold create-btn p-4 relative" (click)="toggle()">
    {{quizBtn != 3 ? "Create" : "More"}}
    <div *ngIf="menuToggle" class="absolute bg-white top-[80px] right-[0px] rounded-md shadow-lg p-7 text-justify flex flex-col gap-3 create-menu">
      <ng-template [ngIf]="quizBtn == 1">
        <button mat-button class="border-none flex justify-center items-center gap-10 text-black text-ellipsis" (click)="openDialog()">
          <fa-icon [icon]="faUp" size='2x' class="bg-gray-300 rounded-md p-4 text-[#45178E]"></fa-icon>
          <span class="w-[150px] text-left">Add Level</span>
        </button>
        <a class="flex justify-between gap-10 items-center text-black text-ellipsis" (click)="openDialogSubject()">
          <fa-icon [icon]="faFolder" size='2x' class="bg-gray-300 rounded-md p-4 text-white"></fa-icon>
          <span class="w-[150px] inline-block text-left">Add Subject</span>
        </a>
      </ng-template>
      <ng-template [ngIf]="quizBtn == 2">
        <a class="flex justify-between gap-10 items-center text-black text-ellipsis" (click)="openDialogQuiz()">
          <fa-icon [icon]="faQuestion" size='2x' class="bg-gray-300 rounded-md p-4 text-[#63A8A8]"></fa-icon>
          <span class="w-[150px] text-left">Add Quiz</span>
        </a>
      </ng-template>
      <ng-template [ngIf]="quizBtn == 3">
        <a class="flex justify-between gap-10 items-center text-black text-ellipsis" (click)="openAssignDialog()">
          <fa-icon [icon]="faPerson" size='2x' class="bg-gray-300 rounded-md p-4 text-[#63A8A8]"></fa-icon>
          <span class="w-[150px] text-left">Assign Quiz</span>
        </a>
        <a class="flex justify-between gap-10 items-center text-black text-ellipsis" (click)="openInfoSheet()">
          <fa-icon [icon]="faCircle" size='2x' class="bg-gray-300 rounded-md p-4 text-[#84acf3]"></fa-icon>
          <span class="w-[150px] text-left">Quiz</span>
        </a>
      </ng-template>
    </div>
  </a>
</div>
